# Environment files
.env

# Database files
*.db

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Testing cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/